body {
    background-color: #005ca1;
}

h1 {
    color: white;
    text-align: center;
}

p {
    text-align: center;
    color: floralwhite;
    margin-right: 25pt;;
}

b {
    text-align: center;
    color: floralwhite;
}

li {
    text-align: left;
    color: floralwhite;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#kep {
   text-align: center;
}

#vh {
    margin-top: 15pt;
    width: 40%;
    margin-bottom: 20pt;
}